<p>Merged positions</p>
<div class="col-md-12" ng-controller="MergedPositionCtrl">
    <form name="myForm">
        <label>SPX:
            <input type="checkbox" ng-model="searchOptions.spx">
        </label><br/>
        <label>EURUSD:
            <input type="checkbox" ng-model="searchOptions.eurusd">
        </label><br/>
        <label>90SMA:
            <input type="checkbox" ng-model="searchOptions.sma90">
        </label><br/>
        <!--equal <input ng-model="searchOptions.value"/><br/>-->
        <input type="submit" ng-click="update(searchOptions)" value="Filter"/>
    </form>
    <div ui-grid="gridOptions2" class="grid" ui-grid-auto-resize></div>
</div>
