<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Matcha</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="simulationGroupFiles">Simulation Group Files</a></li>
                <li><a href="simulationGroups">Simulation Groups From Mongo</a></li>
                <li><a href="executionStats">Execution Stats Mongo</a></li>
                <li class="active"><a href="mergedPosition">Merged Positions<span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div ng-controller="MergedPositionCtrl">
    <form name="myForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#" ng-click="isCollapsed = !isCollapsed">
                        Options
                    </a>
                </h4>
            </div>

            <div collapse="isCollapsed">
                <div class="panel-body">


                    <div class="col-sm-3 col-md-3">
                        <label>SellGap: <input type="checkbox" ng-model="searchOptions.SellGap"></label><br/>
                        <label>Sell: <input type="checkbox" ng-model="searchOptions.Sell"></label><br/>
                        <label>SellWithStops: <input type="checkbox"
                                                     ng-model="searchOptions.SellWithStops"></label><br/>
                        <label>BuyGap: <input type="checkbox" ng-model="searchOptions.BuyGap"></label><br/>
                        <label>Slippage200: <input type="checkbox" ng-model="searchOptions.Slippage200"></label><br/>
                        <label>EurUSDSlippage: <input type="checkbox"
                                                      ng-model="searchOptions.EurUSDSlippage"></label><br/>
                        <label>SellGapRange: <input type="checkbox" ng-model="searchOptions.SellGapRange"></label><br/>
                        <label>BuyGapRange: <input type="checkbox" ng-model="searchOptions.BuyGapRange"></label><br/>
                        <label>TradeL14ScalesScenarioL14: <input type="checkbox"
                                                                 ng-model="searchOptions.TradeL14ScalesScenarioL14"></label><br/>
                        <label>TradeL14ScenarioL14: <input type="checkbox" ng-model="searchOptions.TradeL14ScenarioL14"></label><br/>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <label>TradeL14ScenarioL365: <input type="checkbox"
                                                            ng-model="searchOptions.TradeL14ScenarioL365"></label><br/>
                        <label>SPX: <input type="checkbox" ng-model="searchOptions.SPX"></label><br/>
                        <label>EURUSD: <input type="checkbox" ng-model="searchOptions.EURUSD"></label><br/>
                        <label>SBK15: <input type="checkbox" ng-model="searchOptions.SBK15"></label><br/>
                        <label>Buy: <input type="checkbox" ng-model="searchOptions.Buy"></label><br/>
                        <label>BuyWithStops: <input type="checkbox" ng-model="searchOptions.BuyWithStops"></label><br/>
                        <label>CrossOver: <input type="checkbox" ng-model="searchOptions.CrossOver"></label><br/>
                        <label>BuyCross: <input type="checkbox" ng-model="searchOptions.BuyCross"></label><br/>
                        <label>Above1SD: <input type="checkbox" ng-model="searchOptions.Above1SD"></label><br/>
                        <label>TrailingStop0TO20000: <input type="checkbox"
                                                            ng-model="searchOptions.TrailingStop0TO20000"></label><br/>
                        <label>MonthOfYear: <input type="checkbox" ng-model="searchOptions.MonthOfYear"></label><br/>
                        <label>AllDaysInMonth: <input type="checkbox"
                                                      ng-model="searchOptions.AllDaysInMonth"></label><br/>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <label>Above2SD: <input type="checkbox" ng-model="searchOptions.Above2SD"></label><br/>
                        <label>Above3SD: <input type="checkbox" ng-model="searchOptions.Above3SD"></label><br/>
                        <label>Below1SD: <input type="checkbox" ng-model="searchOptions.Below1SD"></label><br/>
                        <label>Below2SD: <input type="checkbox" ng-model="searchOptions.Below2SD"></label><br/>
                        <label>Below3SD: <input type="checkbox" ng-model="searchOptions.Below3SD"></label><br/>
                        <label>EveningSession: <input type="checkbox"
                                                      ng-model="searchOptions.EveningSession"></label><br/>
                        <label>NightSession: <input type="checkbox" ng-model="searchOptions.NightSession"></label><br/>
                        <label>MondayToFriday: <input type="checkbox"
                                                      ng-model="searchOptions.MondayToFriday"></label><br/>
                        <label>Monday: <input type="checkbox" ng-model="searchOptions.Monday"></label><br/>
                        <label>Tuesday: <input type="checkbox" ng-model="searchOptions.Tuesday"></label><br/>
                        <label>Wednesday: <input type="checkbox" ng-model="searchOptions.Wednesday"></label><br/>
                        <label>Thursday: <input type="checkbox" ng-model="searchOptions.Thursday"></label><br/>

                    </div>
                    <div class="col-sm-3 col-md-3">
                        <label>Friday: <input type="checkbox" ng-model="searchOptions.Friday"></label><br/>
                        <label>Sunday: <input type="checkbox" ng-model="searchOptions.Sunday"></label><br/>
                        <label>TrailingStop0TO5000: <input type="checkbox" ng-model="searchOptions.TrailingStop0TO5000"></label><br/>
                        <label>TrailingStop4000TO6000: <input type="checkbox"
                                                              ng-model="searchOptions.TrailingStop4000TO6000"></label><br/>


                        <label>SMA50Above <input type="checkbox" ng-model="searchOptions.SMA50Above"></label><br/>
                        <label>SMA60Above <input type="checkbox" ng-model="searchOptions.SMA60Above"></label><br/>
                        <label>SMA70Above <input type="checkbox" ng-model="searchOptions.SMA70Above"></label><br/>
                        <label>SMA80Above <input type="checkbox" ng-model="searchOptions.SMA80Above"></label><br/>
                        <label>SMA90Above <input type="checkbox" ng-model="searchOptions.SMA90Above"></label><br/>
                        <label>SMA50Below <input type="checkbox" ng-model="searchOptions.SMA50Below"></label><br/>
                        <label>SMA60Below <input type="checkbox" ng-model="searchOptions.SMA60Below"></label><br/>
                        <label>SMA70Below <input type="checkbox" ng-model="searchOptions.SMA70Below"></label><br/>
                        <label>SMA80Below <input type="checkbox" ng-model="searchOptions.SMA80Below"></label><br/>
                        <label>SMA90Below <input type="checkbox" ng-model="searchOptions.SMA90Below"></label><br/>
                    </div>


                </div>
            </div>


        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <input type="submit" ng-click="update(searchOptions)" value="Search"
                                   class="btn btn-default navbar-btn"/>
                        </li>
                        <li>
                            <p class="navbar-text" ng-bind="searchStatus"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div ui-grid="gridOptions2" class="grid" ui-grid-auto-resize></div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <input type="submit" ng-click="update(searchOptions)" value="Search"
                                   class="btn btn-default navbar-btn"/>
                        </li>
                        <li>
                            <p class="navbar-text" ng-bind="searchStatus"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </form>
</div>
