<!-- Useful links but don't need at the moment -->
<p>SimulationGroup links</p>
<div ng-controller="SimulationGroupFilesCtrl">
    <ul>
        <li ng-repeat="data in simulationGroupNames.data.CommonPrefixes">
            <a href="" ng-click="getSimulationGroupFiles(data.Prefix)">{{ data.Prefix }}</a>
        </li>
    </ul>

    <div class=row ng-repeat="data in simulationGroupFiles.data | orderBy: 'Key' | filter: 'png' track by $index"
         ng-if="$index % 3 == 0">

        <div class="col-md-4 letter-box"
             ng-repeat="i in [$index, $index + 1, $index + 2]"
             ng-if="simulationGroupFiles.data[i] != null">

            <div><p>{{simulationGroupFiles.data[i].Key}}</p>
                <a ng-href="https://s3-us-west-2.amazonaws.com/livedata-matcha/{{simulationGroupFiles.data[i].Key}}"><img
                        ng-src="https://s3-us-west-2.amazonaws.com/livedata-matcha/{{simulationGroupFiles.data[i].Key}}"
                        alt="{{simulationGroupFiles.data[i].Key}}"
                        height="100" width="200"/></a></div>
        </div>
    </div>
</div>
