<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Matcha</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="simulationGroupFiles">Simulation Group Files<span
                        class="sr-only">(current)</span></a></li>
                <li><a href="simulationGroups">Simulation Groups From Mongo</a></li>
                <li><a href="executionStats">Execution Stats Mongo</a></li>
                <li><a href="mergedPosition">Merged Positions</a></li>

            </ul>
        </div>
    </div>
</nav>
<div ng-controller="SimulationGroupFilesCtrl">
    <ul>
        <li ng-repeat="data in simulationGroupNames.data.CommonPrefixes">
            <a href="" ng-click="getSimulationGroupFiles(data.Prefix)">{{ data.Prefix }}</a>
        </li>
    </ul>

    <div class=row ng-repeat="data in simulationGroupFiles.data | orderBy: 'Key' | filter: 'png' track by $index"
         ng-if="$index % 3 == 0">

        <div class="col-md-4 letter-box"
             ng-repeat="i in [$index, $index + 1, $index + 2]"
             ng-if="simulationGroupFiles.data[i] != null">

            <div><p>{{simulationGroupFiles.data[i].Key}}</p>
                <a ng-href="https://s3-us-west-2.amazonaws.com/livedata-matcha/{{simulationGroupFiles.data[i].Key}}"><img
                        ng-src="https://s3-us-west-2.amazonaws.com/livedata-matcha/{{simulationGroupFiles.data[i].Key}}"
                        alt="{{simulationGroupFiles.data[i].Key}}"
                        height="100" width="200"/></a></div>
        </div>
    </div>
</div>
