<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Matcha</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="simulationGroupFiles">Simulation Group Files</a></li>
                <li><a href="simulationGroups">Simulation Groups From Mongo</a></li>
                <li class="active"><a href="executionStats">Execution Stats Mongo<span class="sr-only">(current)</span></a>
                </li>
                <li><a href="mergedPosition">Merged Positions</a></li>

            </ul>
        </div>
    </div>
</nav>
<div ng-controller="ExecutionStatsCtrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <input type="submit" ng-click="update(searchOptions)" value="Search"
                               class="btn btn-default navbar-btn"/>
                    </li>
                    <li>
                        <p class="navbar-text" ng-bind="searchStatus"></p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div ui-grid="gridOptions2" class="grid" ui-grid-auto-resize></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <input type="submit" ng-click="update(searchOptions)" value="Search"
                               class="btn btn-default navbar-btn"/>
                    </li>
                    <li>
                        <p class="navbar-text" ng-bind="searchStatus"></p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
